
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: 'Nunito', sans-serif;
  padding: 20px;
  background: white;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.subheader {
  text-align: right;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   border-radius: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 20px;
  border-radius: 10px;
}